:root {
  --primary-color: #fff;
  color-scheme: light dark;
}

body {
  --text-color: #000;
  --bg-color: #fff;
  transition: all 300ms ease-in;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-theme {
  --text-color: #fff;
  --bg-color: rgba(13, 13, 13, 0.819);
}

body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.server {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.server-logo > img {
  height: 80px;
  width: 80px;
}

.server-logo > p {
  font-size: 12px;
  color: #ff6600;
  font-weight: 600;
}

.server-logo > h6 {
  font-size: max(10px, 15px);
}

.logo {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: end;
  width: 100%;
}

.btnicon {
  border: 0;
  cursor: pointer;
  transition: all 300ms ease-in;
  border-radius: 50%;
}
.btnicon:hover {
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
}

.btnicon,
.alogo {
  z-index: 10;
  margin-top: 10px;
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}

input[type="checkbox"] {
  display: none;
}

.navicons {
  font-size: 20px;
  padding: 10px;
}

#displayName #infoicon #modeicon,
#infoicon {
  color: var(--text-color);
}
#left-space,
#right-space {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
#left-space {
  position: absolute;
  left: 10%;
  top: 10%;
}
#right-space {
  position: absolute;
  left: 60%;
  top: 10%;
}

.element {
  text-align: center;
}
#left-space p,
#right-space p {
  margin: 0;
}
#left-space i,
#right-space i {
  font-size: 13px;
  color: grey;
}
.btn-other-devices {
  background-color: #ff6600 !important;
  cursor: pointer;
  border: none;
  padding: 18px !important;
  border-radius: 50%;
  margin-top: 65px;
  z-index: 100;
}
.btn-other-devices:hover {
  transition: transform 0.3s ease-in-out;
  background-color: #e69159 !important;
}
.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText h4 {
  font-size: 20px;
  color: rgb(104, 104, 104);
}
.custom-progress {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  clip: rect(0px, 80px, 80px, 40px);
  --progress: rotate(0deg);
  transition: transform 200ms;
}
.circle {
  width: 72px;
  height: 72px;
  border: 4px solid var(#ef7423);
  border-radius: 40px;
  position: absolute;
  clip: rect(0px, 40px, 80px, 0px);
  will-change: transform;
  transform: var(--progress);
}

.dialog .paper {
  background-color: var(--bg-color);
}

.dialog .bg-overlay {
  background: rgba(0, 0, 0, 0.61);
  z-index: 10;
  transition: opacity 300ms;
  will-change: opacity;
  padding: 16px;
}

#img-preview{
  max-height: 50vh;
  margin: auto;
  display: block;
}


.dialog .paper {
  z-index: 3;
  background: var(--bg-color);
  border-radius: 8px;
  padding: 16px 24px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: transform 300ms;
  will-change: transform;
}
[shadow="2"] {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
}

.dialog:not([show]) {
  pointer-events: none;
}

.dialog:not([show]) .paper {
  transform: scale(0.1);
}

.dialog:not([show]) .bg-overlay {
  opacity: 0;
}

.dialog .row-reverse > .button {
  margin-top: 16px;
  margin-left: 8px;
}

.dialog a {
  color: var(--primary-color);
}

/* Receive Dialog */
#receiveDialog .row {
  margin-top: 24px;
  margin-bottom: 8px;
}

/* Receive Text Dialog */

#receiveTextDialog #text {
  width: 100%;
  word-break: break-all;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
  white-space: pre-wrap;
}

#receiveTextDialog #text a {
  cursor: pointer;
}

#receiveTextDialog #text a:hover {
  text-decoration: underline;
}

#receiveTextDialog h3 {
  /* Select the received text when double-clicking the dialog */
  user-select: none;
  pointer-events: none;
}
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button {
  padding: 0 16px;
  box-sizing: border-box;
  min-height: 36px;
  min-width: 100px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background: inherit;
  color: var(--primary-color);
}

.button,
.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  border: none;
  outline: none;
}

.button:before:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0;
  transition: opacity 300ms;
}

.button:hover:before {
  opacity: 0.1;
}

.button:before {
  border-radius: 8px;
}

.button:focus:before {
  opacity: 0.2;
}

button::-moz-focus-inner {
  border: 0;
}


@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fff;
    --bg-color: rgba(13, 13, 13, 0.819);
  }

  body.light-theme {
    --text-color: #000;
    --bg-color: #fff;
  }
}

@media only screen and (min-width: 315px) and (max-width: 550px) {
  .server-logo > img {
    height: 50px;
    width: 50px;
  }

  .server-logo > p {
    font-size: 10px;
    font-weight: 500;
  }

  .server-logo > h6 {
    font-size: max(8px, 10px);
  }
  .btn-other-devices {
    padding: 10px !important;
    margin-top: 50px;
  }
  #left-space {
    position: absolute;
    left: 0%;
    top: 10%;
  }
  #right-space {
    position: absolute;
    left: 70%;
    top: 10%;
  }
  #left-space p,
  #right-space p {
    font-size: 10px;
  }
  #left-space i,
  #right-space i {
    font-size: 10px;
    color: grey;
  }
  .footerText h4 {
    font-size: 11px;
    color: rgb(104, 104, 104);
    margin-top: 20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 768px) {
  .server-logo > img {
    height: 60px;
    width: 60px;
  }

  .server-logo > p {
    font-size: 12px;
    color: #ff6600;
    font-weight: 500;
  }

  .server-logo > h6 {
    font-size: max(10px, 12px);
  }
  .btn-other-devices {
    padding: 12px !important;
    margin-top: 50px;
  }
  #left-space {
    position: absolute;
    left: 0%;
    top: 10%;
  }
  #right-space {
    position: absolute;
    left: 70%;
    top: 10%;
  }
  #left-space p,
  #right-space p {
    font-size: 12px;
  }
  .footerText h4 {
    font-size: 15px;
    color: rgb(104, 104, 104);
    margin-top: 20px;
  }
}

about {
  display: none;
}

/* about page css */
.cross {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.cross svg {
  color: white;
  width: 2.5vw;
  height: auto;
  margin-top: 10px;
  z-index: 10;
}
.data {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo_data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#server-logo-about {
  height: 80px;
  width: 80px;
  filter: brightness(0) invert(1);
}

.logo_data > p {
  color: white;
  font-size: 13px;
  font-weight: 600;
}
#fulllogo {
  width: 10rem !important;
  height: auto;
}
a {
  text-decoration: none;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
}
footer h6,
.abouticons {
  display: inline;
  font-size: 14px;
  color: white;
}
.abouticons svg {
  width: 14px;
  margin: 0px 2px 5px 2px;
  color: white;
}

canvas {
  z-index: -1;
}

/* modal css */
.modal-footer button {
  background: none;
  border: none;
  color: #ff6600;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
}
.modal-footer button:hover {
  color: #ef7423;
  border: #ef7423 0.5px solid;
}
#modalClick {
  display: none;
}

